@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* floating button */
#toptop {
    position: fixed;
    background-color:#BCD8E4; 
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    padding-top: 40px;
  }

  #greentriangle {
    position: relative;
    left: 20rem; 
    bottom: 10rem;
    z-index: -1;
    opacity: 30%;

  }


  #yellowtriangle {
    position: relative;
    left: 20rem; 
    bottom: 10rem;
    z-index: -1;
    opacity: 80%;

  }

  

  #bluetriangle {
    position: relative;
    left: 200px; 
    bottom: 100px;
    z-index: -1;
    opacity: 80%;

  }



  #orangetriangle {
        position: relative;
        left: 35rem; 
        bottom: 25rem;
        z-index: -1;
        opacity: 30%;
  }

  #yellowtriangle2 {
    position: relative;
    left: 10rem; 
    bottom: 25rem;
    z-index: -1;

  }



body {
    background-color: white;
  
    color: rgba(17, 8, 8, 0.747);
    font-family: PT Sans;
    font-size: 17px;
}

p a {
    text-decoration: underline;
}

a {
    color: inherit;
}

header {
  display: flex;

}

body header figure {
    margin-top: 5px;
    margin-left: 30px;
}

/* 
header nav {
    display: inline-block;
    margin-left: 60px;
}

header nav a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}
header nav p, .portfolionav nav p {
    display: inline-block;
}  */



  /* Style The Dropdown Menu Button */
  .dropbtn {
    background-color: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    right: 0;
    /* display: inline-block; */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right:0;
    text-align: center;
    background-color: whitesmoke;
    /* border: #E17B4F 1px solid; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #E17B4F; color: white;}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .show   {
      display:block;
  }




#email {
    background-color:#E17B4F;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    /* border: 1px solid #BCD8E4; */
    color: #EDF6F9;
}


.jumbotron {
    align-items: center;
    text-align: center;
    background-color: #BCD8E4;
    color:black;
    padding: 2rem;
  }


#j1 {
      padding: 0;
  }

/* questions nav */
.questions nav {
    text-align: left;
    width: 450px;
    margin: auto;
}


.questions a{
    text-decoration: underline;
}


.container {
    padding-top: 50px;
  
}

.container li {
    list-style-type: none;
}

.container figure img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /* image scales with screen: */
    max-width: 100%;
    height: auto;
}

#tx-l article {
    padding-right: 30px;
    text-align: right;
    /* border: black 1px solid; */
}

#tx-l article p {
    width: 80%;
    float: right;
}

#tx-l figure {
    padding-left: 30px;
    text-align: left;
}

#tx-r article {
    padding-left: 30px;
    text-align: left;
}

#tx-r article p {
    width: 70%;
    float: left;
}

#tx-r figure {
    padding-right: 30px;
    text-align: right;
}

/* portfolio css begins */


.portfolio-section {
    align-items: center;
    text-align: center;
    background-color: #BCD8E4;

    color:black;
    padding: 0rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  
.portfolio-section h1 {
    font-family: 'Raleway', PT sans;
    color: black;
    font-weight: bold;
}


.gallery {
    width: 80%;
    margin: auto;
    background-color: #BCD8E4;
}

.gallery img {
    /* image scales with screen: */
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .gallery img:hover {
    opacity: 60%;
}

.gallery div
{
    padding-top: 25px;
}

/* portfolio gallery ends */


/* portfolio links begins */

.portfolionav nav {
    text-align: center;
}

.portfolionav nav p {
    font-size: 15px;
    display: inline-block;
}

.portfolionav nav a {
    display: inline-block;

    /* top | right | bottom | left */
    margin: 1rem 4rem 0 4rem;
    text-decoration: none;
}


.portfolionav a:hover {
    text-decoration: underline;
    font-size: 18px;
    color:  rgb(211, 136, 66);
}

#line1 {
  /* top | right | bottom | left */
  margin: 5rem 4rem 0 4rem;
}
/* portfolio links ends */



/* contact section */
.contact {
    padding-top: 5px;
}



footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }
  
  /* media queries be */

  @media all and (max-width: 770px),
     screen and (max-device-width: 770px) {
         header nav {
            margin-left: 10px;
         }

         header nav a {
            margin: 10px;
        }

         .row article {
            padding-left: 2rem;
        }

        .container {
            padding-top: 0px;
            padding-bottom: 60px;

        }
        .container figure img {
            display: block;
            margin-left: auto;
            margin-right: auto; 
        }


        #tx-l article p {
            width: 100%;
            float: left;
        }
        
        #tx-l article {
            padding-right: 10px;
            text-align: left;
        }
        
     
        #tx-l figure {
            padding-left: 10px;
            text-align: left;
        }
        
        #tx-r article {
            padding-left: 10px;
            text-align: left;
        }
        
        #tx-r article p {
            width: 100%;
            float: left;
        }
        
        #tx-r figure {
            padding-right: 10px;
            text-align: left;
        } 
        

/* portfolio section begins */

        .portfolio-section .gallery img {
            width: 60%;
            height: auto;
        }
    
        .portfolio-section h2 {
                font-size: 15px;
        }
       
    }