@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);


h1 {
  font-family: "Raleway", PT Sans;
}


body {
background-color: white;
color: rgb(81,94,101);
font-family: PT Sans;
font-size: 20px;
}



p a {
text-decoration: underline;
color: inherit;
}


nav ul {
  list-style-type: none;
  text-align: center;
  }
  
   nav ul li {
  display: inline-block;
  
  }
  
   nav ul li a {
  display: block;
  text-align: center;
  padding: 0rem 3rem;
  text-decoration: none;
  color: inherit;
  }
  
   nav li a:hover {
  color: #E17B4F;
  }
  
  .secondnav nav {
      margin-top: 5rem;
  }
  


.jumbotron {
background-color: #BCD8E4;
padding-top: 10rem;
padding-bottom: 10rem;
margin-bottom: 25px;
text-align: center;

}

.jumbotron h1 {
font-size: 70px;

}


.jumbotron img {
box-shadow:none;

/* image scales with screen: */
max-width: 100%;
height: auto;
}



.jumbotron h2 {
font-family: "Raleway", PT Sans;
font-size: 18px;
font-style: italic;
}


footer {
  font-size: 15px;
  padding: 20px;

  background-color: #BCD8E4;
  margin-top: 5rem;
}


footer ul {
  list-style: none;
}








/* breadcrumb */

.breadcrumb {
    padding-left: 2rem;
  
}
.breadcrumb li {
    display: inline-block;
    color: #006D77;
    font-size: 14px;
   
}

.breadcrumb a {
    text-decoration: underline;
}


/* page content starts here: */


.gallery {
    padding-top: 10px;
    text-align: center;
}

.gallery img {
    /* image scales with screen: */
        max-width: 100%;
        height: auto;
        padding: 10px;
}

  
  /* media queries be */

  @media all and (max-width: 770px),
     screen and (max-device-width: 770px) {
    
      header nav li a, nav li a {
        padding: 0rem 1rem;
        font-size: smaller;
    }


    .jumbotron  h1 {
        font-size: 40px;
    }

       
    }