@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);



header {
  display: flex;
}

header nav {
    margin-left: 60px;
    text-align: center;
    display: inline-block;
}

header nav a {
    display: inline-block;
    margin: 20px;
}
header nav p {
    display: inline-block;
} 


body header figure {
    margin-top: 5px;
    margin-left: 30px;
}

#email {
    background-color: rgb(211, 136, 66);
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    /* border: 1px solid #BCD8E4; */
    color: #EDF6F9;
}

/* header css ends */


.portfolio-section {
    align-items: center;
    text-align: center;
   background-color: white;
    /* background-color: #BCD8E4; */
    /* background-color: #ffffff; */
    color:black;
    padding: 0rem;
  }
  
.portfolio-section h1 {
    font-family: 'Raleway', PT sans;
    color: black;
    font-weight: bold;
}



.gallery {
    width: 80%;
    margin: auto;

}

.gallery img {
    /* image scales with screen: */
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .gallery img:hover {
    opacity: 60%;

}

.gallery div
{
    padding-top: 25px;
}


/* footer begins */


.container {
    padding-top: 50px;
  
}


footer {
    font-size: 12px;
    padding: 20px 0;
  }
  


/* #toptop {
    position: fixed;
    background-color:#BCD8E4; 
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    padding-top: 40px;
  } */



@media all and (max-width: 770px),
    screen and (max-device-width: 770px) {
        header nav {
        margin-left: 10px;
        }

        header nav a {
        margin: 10px;
        }


        .portfolio-section .gallery img {
        width: 60%;
        height: auto;
        }


        .portfolio-section h2 {
            font-size: 15px;
        }

    
}