@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);





h1 {
        font-family: "Raleway", PT Sans;
    }


body {
    background-color: rgb(240,244,246);
    color: rgb(81,94,101);
    font-family: PT Sans;
    font-size: 20px;
}

p a {
    text-decoration: underline;
    color: inherit;
}


header nav ul {
     list-style-type: none;
    text-align: center;
}

header nav li {
    display: inline-block;

}

header nav li a {
    display: block;
    text-align: center;
    padding: 0rem 3rem;
    text-decoration: none;
    color: inherit;
}

header nav li a:hover {
    color: #E17B4F;
}



.jumbotron {
    background-color: #BCD8E4;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 25px;
    text-align: center;
 
}

.jumbotron h1 {
    font-size: 70px;

}
 

.jumbotron img {
    box-shadow:none;

    /* image scales with screen: */
    max-width: 100%;
    height: auto;
}



.jumbotron h2 {
    font-family: "Raleway", PT Sans;
    font-size: 18px;
    font-style: italic;
}

.gallery {
    width: 80%;
    margin: auto;


}

.gallery img {
    /* image scales with screen: */
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .gallery img:hover {
    opacity: 60%;
}

.gallery div{
    padding-top: 25px;
}





footer {
    font-size: 15px;
    padding: 20px;
    margin-top: 4rem;
    background-color: #BCD8E4;
}
  
 
footer ul {
    list-style: none;
}
  
  
  
  /* media queries be */

  @media all and (max-width: 770px),
     screen and (max-device-width: 770px) {
   
    
        header nav li a {
            padding: 0rem 1rem;
             font-size: smaller;
        }

        .jumbotron  h1 {
            font-size: 50px;
        }

     
        /* portfolio section begins */

        .gallery {
            width: 100%;
            margin: auto;
            padding-bottom: 5rem;
        }


    }