@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);



h1 {
    font-family: "Raleway", PT Sans;
}


body {
background-color: rgb(240,244,246);
color: rgb(81,94,101);
font-family: PT Sans;
font-size: 20px;
}

p a {
text-decoration: underline;
color: inherit;
}


header nav ul {
 list-style-type: none;
text-align: center;
}

header nav li {
display: inline-block;

}

header nav li a {
display: block;
text-align: center;
padding: 0rem 3rem;
text-decoration: none;
color: inherit;
}

header nav li a:hover {
color: #E17B4F;
}



.jumbotron {
background-color: #BCD8E4;
padding-top: 10rem;
padding-bottom: 10rem;
margin-bottom: 25px;
text-align: center;

}

.jumbotron h1 {
font-size: 70px;

}


.jumbotron img {
box-shadow:none;

/* image scales with screen: */
max-width: 100%;
height: auto;
}



.jumbotron h2 {
font-family: "Raleway", PT Sans;
font-size: 18px;
font-style: italic;
}

#toptop {
    position: fixed;
    background-color:#BCD8E4; 
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    padding-top: 40px;
    }


.container a {
    text-decoration: underline;
    color: inherit;
}

.secondnav a {
    color: inherit;
}




 .secondnav nav a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}
 .secondnav nav p {
    display: inline-block;
} 

.secondnav {
    text-align: center;
    color: #006D77;
}


.secondnav a:hover {
    text-decoration: underline;
    color: #E17B4F;
}


/* questions nav */
.questions nav {
    text-align: left;
    width: 450px;
    margin: auto;
}

.questions li a{
    color: rgb(81,94,101);
}

.questions a:hover {
    text-decoration: underline;
    color: #E17B4F;
}



.twocolumns .container figure img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /* image scales with screen: */
    max-width: 100%;
    height: auto;
}

.twocolumns .container h2 {
    font-size: 35px;
    color: black;
}

.twocolumns .container {
    padding-bottom: 30px;
}


.container h2 {
    color:  #006D77;
}


.container {
    padding-top: 50px;
  color:   rgba(17, 8, 8, 0.747);
  
}

.container li {
    list-style-type: none;
}

.container figure img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /* image scales with screen: */
    max-width: 100%;
    height: auto;
}

#tx-l article {
    padding-right: 30px;
    text-align: right;
    /* border: black 1px solid; */
}

#tx-l article p {
    width: 80%;
    float: right;
}

#tx-l figure {
    padding-left: 30px;
    text-align: left;
}

#tx-r article {
    padding-left: 30px;
    text-align: left;
}

#tx-r article p {
    width: 70%;
    float: left;
}

#tx-r figure {
    padding-right: 30px;
    text-align: right;
}





footer {
    font-size: 15px;
    padding: 20px;
  
    background-color: #BCD8E4;
  }
  
 
  footer ul {
    list-style: none;
  }
  
  
  /* media queries be */

  @media all and (max-width: 770px),
     screen and (max-device-width: 770px) {
         header nav {
            margin-left: 10px;
         }

         header nav a {
            margin: 10px;
        }

         .row article {
            padding-left: 2rem;
        }

        .container {
            padding-top: 0px;
            padding-bottom: 60px;

        }
        .container figure img {
            display: block;
            margin-left: auto;
            margin-right: auto; 
        }


        #tx-l article p {
            width: 100%;
            float: left;
        }
        
        #tx-l article {
            padding-right: 10px;
            text-align: left;
        }
        
     
        #tx-l figure {
            padding-left: 10px;
            text-align: left;
        }
        
        #tx-r article {
            padding-left: 10px;
            text-align: left;
        }
        
        #tx-r article p {
            width: 100%;
            float: left;
        }
        
        #tx-r figure {
            padding-right: 10px;
            text-align: left;
        } 
        
        
       
    }