body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  padding: 15px 0;
  font-family: 'Raleway', sans-serif;
}



h3 {
  padding: 5rem 5rem;
}


header .row,
footer .row {
  display: flex;
  align-items: center;
}


header nav {
  display: flex;
  justify-content: flex-end;
}


.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://gabiralta.github.io/jumbotron.png');
  background-size: cover;
  color: #fff;
  height:600px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-sm-6 {
  margin: 0 0 30px;
}

.col-sm-12 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 0;
}


.container-bg {
    background-image: url('https://gabiralta.github.io/austin.png');
    background-size: cover;
}

.container-3 {
    background-image: url('https://gabiralta.github.io/coffeeboard.png');
    background-size: cover;
}

#flower {
  padding: 5rem;  
  color: #fff;
  text-align: center;
}

#flower p {
  padding: 5rem;
  font-size: 20px;
}

#flower h1 {
  padding: 5rem;
  font-size: 50px;
}


#rose {
  padding: 5rem;  
  text-align: left;
}

#rose p {
  padding: 5rem;
  font-size: 20px;
}

#rose h1 {
  padding: 5rem;
  font-size: 50px;
}

#hydrangea {
  padding: 5rem;  
  text-align: left;
}

#hydrangea p {
  padding: 5rem;
  font-size: 20px;
}

#hydrangea h1 {
  font-size: 50px;
    padding: 0 5rem 0;
}


.btn.btn-primary {
  border-radius: 2px;
  border: 1px solid white;
  padding: 14px 28px;
  color: #495057;
  text-shadow: none;
  font-size: 18px;
  background-color: transparent;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #ced4da;
}

.btn-secondary {
  background-color: #B8E6E6;
  color: #000;
  margin: 0 0 30px;
  padding: 14px 28px;
  font-size: 18px;
}

.btn.btn-secondary:hover {
  background-color: #ced4da;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}