body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
  font-family: 'Montserrat Thin', sans-serif;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: block;
  align-items: center;
  'Background-image: url('gabiralta.github.io/WebsiteBannerMovie.mp4');
  background-size: cover;
  font-family: 'Montserrat Thin', sans-serif;
  color: #ffffff;
  height: 450px;
  text-shadow: none;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:50%;
  height:50%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}

.jumbotron .container {
  z-index: 2;
  position: relative;
}


.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 40px;
  width: 100%;
}

.col-md-4 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #0a0a0a;
  text-shadow: none;
  background-color: transparent;
}

.btn.btn-primary:hover {
  background-color: #B8E6E6;
}

.btn-secondary {
  background-color: #B8E6E6;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}