p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
}

h1,h2,h3,h4,h5,h6, .btn {
  font-family: 'Raleway', sans-serif;
}


h1 {
  padding: 15px;
  font-size: 50px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header {
  font-family: 'Raleway', sans-serif;
  padding-left: 5rem;
  padding-right: 5rem;
}


nav ul li{
  list-style-type: none;
  display: inline-flex;
  padding: 10px;   
}



.jumbotron {
  /* display: flex; */
  align-items: center;
  text-align: center;
  background-color: #BCD8E4;
  color: #fff;
  /* height: 700px; */
  font-family: 'Raleway', source sans pro;
  padding: 10rem;
}


.rec {
    height: 500px;
    text-align: center;
    padding: 5rem;  

}

.rec .row{
  padding-top: 3rem;  
}

.rec ul li{
  list-style-type: none;
}

.rec h2 {
  font-size: 7rem;
}

.rec p {
  font-size: 2rem;
}

.rec h3 {
  padding: 0 0 10rem;
  font-size: 7rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


.container-about {
    background-image: url('https://gabiralta.github.io/aboutbanner.png');
    background-size: cover;
    height: 600px;
}


.year .col-sm-6 {
  padding: 7rem;
  text-align: center;
}

body ul li{
  /* list-style-type: none; */
  text-align: left;
}

#contact {
  background-image: url('coffeeboard.jpg');
}

.btn.btn-primary {
  border-radius: 2px;
  border: 1px solid white;
  padding: 14px 28px;
  color: #495057;
  text-shadow: none;
  font-size: 18px;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
}

.btn.btn-primary:hover {
  border-radius: 2px;
  border: 2px solid #BCD8E4;
  padding: 14px 28px;
  color: #495057;
  text-shadow: none;
  font-size: 18px;
  background-color: transparent;
}


.btn-secondary {
  background-color: #B8E6E6;
  color: #000;
  margin: 0 0 30px;
  padding: 14px 28px;
  font-size: 18px;
}

.btn.btn-secondary:hover {
  background-color: #ced4da;
}


.btn.btn-terciary {
 background-color:  #ced4da;
  color: #000;
  margin: 0 0 30px;
  padding: 14px 28px;
  font-size: 18px;
}

.btn.btn-terciary:hover {
  color: #000;
  background-color: #B8E6E6;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

