@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
    background-color: #EDF6F9;
    color:  #006D77;
    font-family: PT Sans;
    font-size: 17px;
}

#darkgreen{
    background-color: #006D77;
    /* width: 35rem; */
    height: 44rem;
    /* margin-left: 10rem; */
    padding: 2rem;
    margin: auto;
    width: 75%;
}

.logoleft {
    width: 94px;
    height: 113px;
    margin-left: 2rem;
}

header div {
    padding-top: 100px;
}

header h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    color: rgba(255,221,210,1);
}

header h2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    color:#83C5BE;
}

article {
    /* width: 35rem; */
    margin: auto;
    width: 75%;
}

#inlove {
    margin-top: 15rem;
    /* margin-left: 5rem; */
}

#contact {
    margin-top: 5rem;
}

.bw {
    background-color: #006D77;
    /* width: 35rem; */
    height: 25rem;
    /* margin-left: 10rem; */
    margin: auto;
    width: 75%;
    margin-top: 4rem;
}

.dolphins {
    background-color: #006D77;
    /* width: 35rem; */
    height: 45rem;
    margin-top: 4rem;
    /* margin-left: 5rem; */
    margin: auto;
    width: 75%;
}

.armonia {
    background-color: #006D77;
    /* width: 350px; */
    height: 40rem;
    margin: auto;
    width: 75%;
    margin-top: 13rem;
}
